@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
body{
    background-color: #7d8fb3 ;
    margin: 0%;
    padding: 0%;
}

li{
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #212121;
    margin-left: 15px;
}

a{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 15%;
    text-decoration: none;
    color: #212121;
    margin-left: 15px;
}

header{
    background-color: white;
    display: flex;
    border-style: solid; 
    padding: 1px 10%;
}

.logo{
    cursor: pointer;
    margin-left: -10%;
    margin-top: 0.5%;
}

.navlinks{
    list-style: none;
    word-spacing: 20%;
}

.navlinks li{
    display: inline-block;
    margin-top: 0%;
    
}

.navlinks li a{
    transition: all 0.3s ease-in 0s;
    word-spacing: 20%;
}

.navlinks li a:hover{
    color: #016796;
}

#contact{
    margin-right: 10px;
    position: absolute;
    background-color: #2196f3 ;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 27%; 
}

#h2 h2{
    font-family: sans-serif;
}

#contact:hover{
    background-color: #2e70a7;
    transition: all 0.3s ease-in 0s;
}

.bg2{
    position: absolute;
    height: 550px;
    width: 300px;
    margin-left: 14%;
    margin-top: -35%;
}

.olive{
    position: absolute;
    margin-top: 15%;
    margin-left: 5%;
    height: 320px;
    width: 420px;
    background-color: #617087;
}

.white{
    background-color: white;
    margin-bottom: 5px;
    height: 480px;
    width: 720px;
    font-family: 'Montserrat';
    font-size: 3rem;
    position: absolute;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 5%;
}

.white h2{
    color: #7d8fb3 ;
    font-size: 35px;
    margin-left: 5px;
    text-align: center;
}

.white p{
    font-size: 20px;
    margin-left: 5px;
    text-align: center;
}

.white ul{
    font-size: 17px;
    display: inline-block;
    font-family:'Montserrat';  
}

.white li{
    font-family: 'Professor';
    margin-left: 0%;
}

.button {
    margin-left: 38%;
    background-color: #7d8fb3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
    
    }