* {
    font-family: sans-serif;
}

body html {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 415px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    border-top: 20px solid #76D0F3;
    box-sizing: border-box;
    max-height: 800px;
}